## 0. Import Packages and Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.linear_model import LogisticRegression
# import pycaret below <- automates the expiramentation process (test KNN, test logistic, etc...)
from pycaret.regression import setup, compare_models, create_model

# from pycaret.classification import setup
# from pycaret.classification import compare_models

In [2]:
# Import data that was output from previous notebook "2. Exploratory Data Analysis"
df = pd.read_csv(r'/Users/harrisonchaseweber/Desktop/Springboard/Billboard Top 10 Prediction/DataFiles/df_emo_full_eda.csv', index_col = 0)

In [3]:
# Check that the details of this dataset make sense.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327895 entries, 0 to 327894
Data columns (total 54 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WeekID                       327895 non-null  object
 1   Week Position                327895 non-null  int64
 2   Song                         327895 non-null  object
 3   SongID                       327895 non-null  object
 4   Instance                     327895 non-null  int64
 5   Previous Week Position       327895 non-null  float64
 6   Peak Position                327895 non-null  int64
 7   Weeks on Chart               327895 non-null  int64
 8   Artist                       269355 non-null  object
 9   wordCount                    327895 non-null  float64
 10  languages                    269355 non-null  object
 11  allWordCount                 327895 non-null  float64
 12  year                         327895 non-null  float64
 13  decade                       327895 non-null  object
 14  MTLD                         327895 non-null  float64
 15  TTR                          327895 non-null  float64
 16  CTTR                         327895 non-null  float64
 17  sentimentScore               327895 non-null  float64
 18  sentimentScore_pos           327895 non-null  float64
 19  sentimentScore_neg           327895 non-null  float64
 20  emoWordCount                 327895 non-null  float64
 21  joy_normalized               327895 non-null  float64
 22  sadness_normalized           327895 non-null  float64
 23  anger_normalized             327895 non-null  float64
 24  disgust_normalized           327895 non-null  float64
 25  trust_normalized             327895 non-null  float64
 26  anticipation_normalized      327895 non-null  float64
 27  fear_normalized              327895 non-null  float64
 28  surprise_normalized          327895 non-null  float64
 29  emo_score                    327895 non-null  float64
 30  happy_normalized             327895 non-null  float64
 31  sorrow_normalized            327895 non-null  float64
 32  YearID                       327895 non-null  int64
 33  DecadeID                     327895 non-null  object
 34  SuccessInd                   327895 non-null  int64
 35  PrimaryKey                   327895 non-null  object
 36  Week_dt                      327895 non-null  object
 37  Week_dt_next                 327895 non-null  object
 38  YearID_next                  327895 non-null  int64
 39  Artist_Count_Total           269355 non-null  float64
 40  Artist_Count_Year            269355 non-null  float64
 41  Artist_Count_Year_prior      161594 non-null  float64
 42  Artist_Count_Week            269355 non-null  float64
 43  Artist_Count_Week_prior      250371 non-null  float64
 44  joy_normalized_ind           327895 non-null  int64
 45  sadness_normalized_ind       327895 non-null  int64
 46  anger_normalized_ind         327895 non-null  int64
 47  disgust_normalized_ind       327895 non-null  int64
 48  trust_normalized_ind         327895 non-null  int64
 49  anticipation_normalized_ind  327895 non-null  int64
 50  fear_normalized_ind          327895 non-null  int64
 51  surprise_normalized_ind      327895 non-null  int64
 52  happy_normalized_ind         327895 non-null  int64
 53  sorrow_normalized_ind        327895 non-null  int64
dtypes: float64(27), int64(17), object(10)
memory usage: 137.6+ MB

From the above, it appears that "decade" is the only object variable that needs to be transformed for modeling. All others objects, such as Week, SongID, and Artist are index related.

In [4]:
# Convert Decade Object Variable to Dummies
decade_dummies = pd.get_dummies(df['decade'])
df.drop("decade", axis = 1, inplace = True)
df = df.join(decade_dummies)

In [5]:
#Check that the Decade dummies are as expected
df.dtypes

WeekID                          object
Week Position                    int64
Song                            object
SongID                          object
Instance                         int64
Previous Week Position         float64
Peak Position                    int64
Weeks on Chart                   int64
Artist                          object
wordCount                      float64
languages                       object
allWordCount                   float64
year                           float64
MTLD                           float64
TTR                            float64
CTTR                           float64
sentimentScore                 float64
sentimentScore_pos             float64
sentimentScore_neg             float64
emoWordCount                   float64
joy_normalized                 float64
sadness_normalized             float64
anger_normalized               float64
disgust_normalized             float64
trust_normalized               float64
anticipation_normalized        float64
fear_normalized                float64
surprise_normalized            float64
emo_score                      float64
happy_normalized               float64
sorrow_normalized              float64
YearID                           int64
DecadeID                        object
SuccessInd                       int64
PrimaryKey                      object
Week_dt                         object
Week_dt_next                    object
YearID_next                      int64
Artist_Count_Total             float64
Artist_Count_Year              float64
Artist_Count_Year_prior        float64
Artist_Count_Week              float64
Artist_Count_Week_prior        float64
joy_normalized_ind               int64
sadness_normalized_ind           int64
anger_normalized_ind             int64
disgust_normalized_ind           int64
trust_normalized_ind             int64
anticipation_normalized_ind      int64
fear_normalized_ind              int64
surprise_normalized_ind          int64
happy_normalized_ind             int64
sorrow_normalized_ind            int64
00s                              uint8
10s                              uint8
20s                              uint8
50s                              uint8
60s                              uint8
70s                              uint8
80s                              uint8
90s                              uint8
dtype: object

In [6]:
# Remove unnecessary columns, particularly the columns we are not interested in using.
df.drop(columns = ['joy_normalized', 'sadness_normalized', 'anger_normalized', 'disgust_normalized', 'trust_normalized', 'anticipation_normalized', 'fear_normalized', 'surprise_normalized', 'happy_normalized', 'sorrow_normalized', 'Week_dt', 'Week_dt_next', 'YearID_next', 'languages'], inplace = True)
# Check that these columns are removed.
df.dtypes

WeekID                          object
Week Position                    int64
Song                            object
SongID                          object
Instance                         int64
Previous Week Position         float64
Peak Position                    int64
Weeks on Chart                   int64
Artist                          object
wordCount                      float64
allWordCount                   float64
year                           float64
MTLD                           float64
TTR                            float64
CTTR                           float64
sentimentScore                 float64
sentimentScore_pos             float64
sentimentScore_neg             float64
emoWordCount                   float64
emo_score                      float64
YearID                           int64
DecadeID                        object
SuccessInd                       int64
PrimaryKey                      object
Artist_Count_Total             float64
Artist_Count_Year              float64
Artist_Count_Year_prior        float64
Artist_Count_Week              float64
Artist_Count_Week_prior        float64
joy_normalized_ind               int64
sadness_normalized_ind           int64
anger_normalized_ind             int64
disgust_normalized_ind           int64
trust_normalized_ind             int64
anticipation_normalized_ind      int64
fear_normalized_ind              int64
surprise_normalized_ind          int64
happy_normalized_ind             int64
sorrow_normalized_ind            int64
00s                              uint8
10s                              uint8
20s                              uint8
50s                              uint8
60s                              uint8
70s                              uint8
80s                              uint8
90s                              uint8
dtype: object

## 1. Train-Test Split

In [24]:
# Create a Train and Test dataset. 70% will be used for training.
## Week position will be our observed column.
len(df) * .7, len(df) * .3

X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='Week Position'), 
                                                    df['Week Position'], test_size=0.3, 
                                                    random_state=123)

In [26]:
# Check our training set.
X_train.shape, X_test.shape

((229526, 46), (98369, 46))

In [27]:
# Check our test set.
y_train.shape, y_test.shape

((229526,), (98369,))

In [28]:
# Do the ratios of 'Week Position' match across Train and Test sets?
print(y_train.sum()/(len(X_train) + len(y_train)))
print(y_test.sum()/(len(X_test) + len(y_test)))

25.216724902625412
25.326490052760523

## 2. Remove PrimaryKey columns from Train & Test data

In [11]:
#Save the 'Week Position', 'Song', 'SongID', 'Artist', 'languages', 'year', 'PrimaryKey', 'DecadeID' columns from the train/test data into names_train and names_test
#Then drop those columns from `X_train` and `X_test`. Use 'inplace=True'
names_list = ['SuccessInd', 'Song', 'SongID', 'Artist', 'year', 'PrimaryKey', 'WeekID', 'DecadeID', 'YearID']
names_train = X_train[names_list]
names_test = X_test[names_list]
X_train.drop(columns=names_list, inplace=True)
X_test.drop(columns=names_list, inplace=True)
X_train.shape, X_test.shape

((229526, 37), (98369, 37))

## 3. Utilize pycaret

Pycaret is an open source library for automating machine learning work flows. We use the functionality below to test for the optimal machine learning algorithm in our dataset.
For more information: https://pycaret.gitbook.io/docs/get-started/tutorials

In [12]:
# Create dataset for pycaret analysis. We will use our entire dataset for this analysis.
df_2 = df.drop(columns = names_list)

In [14]:
# Set up the dataset.
grid = setup(data = df_2, target = 'Week Position')

In [15]:
# Evaluate and compare models
best = compare_models(fold = 5, n_select = 5)

The top 5 models based on MSE, RMSE, and R2 are Light Gradient Boosting Machine, Random Forest Regressor, and Extra Trees Regressor, Gradient Boosting Regressor, and Gradient Boosting Regressor.

## 4. Test Top Algorithms

We will test the top performing algorithms to check metrics on 10-fold and analyze whether or not they perform consistently.

### 4a. Light Gradient Boosting Machine

In [16]:
lightgbm = create_model("lightgbm")

### 4b. Random Forest

In [17]:
rf = create_model("rf")

### 4c. Gradient Boosting Regressor

In [18]:
gb = create_model("gbr")

### 4d. K-nearest neighbors

In [19]:
knn = create_model("knn")

### 4e. Ridge Regression

In [20]:
ridge = create_model("ridge")

## 5. Output Data

In [31]:
# Output Full dataset
df.to_csv(r'/Users/harrisonchaseweber/Desktop/Springboard/Billboard Top 10 Prediction/DataFiles/df_emo_full_pat.csv')

In [32]:
# Output Train and Test datasets
X_train.to_csv(r'/Users/harrisonchaseweber/Desktop/Springboard/Billboard Top 10 Prediction/DataFiles/X_train.csv')
X_test.to_csv(r'/Users/harrisonchaseweber/Desktop/Springboard/Billboard Top 10 Prediction/DataFiles/X_test.csv')
y_train.to_csv(r'/Users/harrisonchaseweber/Desktop/Springboard/Billboard Top 10 Prediction/DataFiles/y_train.csv')
y_test.to_csv(r'/Users/harrisonchaseweber/Desktop/Springboard/Billboard Top 10 Prediction/DataFiles/y_test.csv')

## 6. Summary

In this precprocessing and training step, we have created dummy variables for our categorical data (the song's decade label) and split our data into a train and test set. We will use 70% of the data for training and 30% for testing. 
As an initial exploration, we use PyCaret to analyze which models perform best. We run each of these models individually to check that their metrics are consistant across a 10-fold analysis.

In our next step, we will dig further into these top performing algorithms to create a finalized model that can help us best predict a Song's week position on the Billboard Top 100 chart.